node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

dotnet-install.sh
/scripts/images/*
/scripts/game/*
.env*.local

# Don't check in last modified timestamp since 3gb file isn't checked in.
gameZipLastModified.txt
